audioread==2.1.8
blessings==1.7
certifi==2018.8.24
cffi==1.13.2
chardet==3.0.4
decorator==4.4.1
gpustat==0.6.0
idna==2.8
joblib==0.14.1
kaldi-io==0.9.1
librosa==0.7.2
llvmlite==0.31.0
netifaces==0.10.9
matplotlib==3.0.3
numba==0.47.0
numpy==1.18.1
nvidia-ml-py3==7.352.0
olefile==0.46
Pillow==5.2.0
protobuf==3.11.2
psutil==5.6.7
pycparser==2.19
pydub==0.23.1
python-speech-features==0.6
requests==2.22.0
resampy==0.2.2
scikit-learn==0.22.1
scipy==1.4.1
six==1.11.0
sklearn==0.0
SoundFile==0.10.3.post1
speechpy==2.4
tensorboardX==2.0
tqdm==4.42.0
urllib3==1.25.7
torchvision==0.3.0